// app global css
@import '~variables'

.waiting_for_approval
  background $waiting_for_approval !important
.rejected
  background $rejected !important
.approved
  background $approved !important
.waiting_for_signatures
  background $waiting_for_signatures !important
.waiting_for_payment
  background $waiting_for_payment !important
.in_progress
  background $in_progress !important
.finished, .accepted
  background $finished !important
